main.page-index {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;

    align-items: center;
    justify-content: center;
    
    padding: 1.2rem;
}

@media screen and (max-width: 425px) {
    main.page-index {
        grid-template-columns: 1fr;
    }
}


.blogentry {
    padding: 1rem;
}

.blogentry h2 {
    text-indent: 35px;
}

.blogentry .content p {
    padding: .6rem 0;
    line-height: 24px;
    text-indent: 14pt;
}

.blogentry .content img {
    width: 250px;
    height: 250px;

    border-radius: 12px;
    margin-right: 16px;

    float: left;

    object-fit: cover;
}

.sidebar-container {
    display: flex;
    flex: 1;
    gap: 1.2rem;
    flex-direction: column;
    justify-content: space-between;

    border-left: 2px solid black;
    padding-left: 1.5rem;
    
}

.column-sidebar h3 {
    padding-bottom: 12px;

    color: #f37229;
    font-size: 1.4rem;
    font-weight: 300;
}

.sidebar-list .sidebar-link a {
    padding: .9rem;
    
    color: #262626;
    font-weight: 500;

    line-height: 27px;
}
